@using Spix.AppFront.Helper
@using Spix.Domain.EntitiesSchedule
@using Spix.HttpService
<EditForm Model="Model" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label class="form-label">@Localizer["Title"]</label>
        <InputText class="form-control" @bind-Value="Model.Title" />
    </div>

    <div class="mb-3">
        <label class="form-label">@Localizer["Description"]</label>
        <InputTextArea class="form-control" @bind-Value="Model.Description" />
    </div>

    <div class="row">
        <div class="col">
            <label>@Localizer["Start"]</label>
            <input type="datetime-local" class="form-control"
                   @bind="Model.StartUtc"
                   @bind:format="yyyy-MM-ddTHH:mm" />
        </div>
        <div class="col">
            <label>@Localizer["End"]</label>
            <input type="datetime-local" class="form-control"
                   @bind="Model.EndUtc"
                   @bind:format="yyyy-MM-ddTHH:mm" />
        </div>
    </div>

    <div class="mb-3 mt-3">
        <label>@Localizer["AssignTo"]</label>
        <InputSelect class="form-control" @bind-Value="Model.UsuarioId">
            @foreach (var u in Usuarios)
            {
                <option value="@u.Value">@u.Name</option>
            }
        </InputSelect>
    </div>

    <div class="d-flex justify-content-end mt-4">
        <button class="btn btn-secondary me-2" @onclick="ReturnAction">@Localizer["Cancel"]</button>
        <button class="btn btn-primary" disabled="@IsSaving">@Localizer["Save"]</button>
    </div>
</EditForm>

@code {
    [Parameter] public ScheduleItemDto Model { get; set; } = null!;
    [Parameter] public bool IsSaving { get; set; }
    [Parameter] public EventCallback OnSubmit { get; set; }
    [Parameter] public EventCallback ReturnAction { get; set; }

    [Inject] private IRepository _repository { get; set; } = null!;
    [Inject] private IStringLocalizer<Resource> Localizer { get; set; } = null!;
    [Inject] private HttpResponseHandler _responseHandler { get; set; } = null!;

    private List<GuidItemModel> Usuarios = new();

    protected override async Task OnInitializedAsync()
    {
        var response = await _repository.GetAsync<IEnumerable<GuidItemModel>>("/api/v1/combosData/ComboUsuarios");
        if (!await _responseHandler.HandleErrorAsync(response))
            Usuarios = response.Response!.ToList();
    }
}

