<button type="@Type" class="@CssClass" style="@Style">
    <i class="@Icon" style="margin-right:5px;"></i><span>@TooTip</span>
</button>

@code {
    [Inject] private IStringLocalizer<Resource> Localizer { get; set; } = default!;
    [Parameter] public string Icon { get; set; } = "fa fa-floppy-disk me-2";
    [Parameter] public string CssClass { get; set; } = "btn btn-gradient-primary";
    [Parameter] public string? TooTip { get; set; }
    [Parameter] public string Type { get; set; } = "submit";
    [Parameter] public string? Style { get; set; } = "width:160px";

    protected override void OnInitialized()
    {
        TooTip ??= Localizer[nameof(Resource.ButtonSave)];
    }
}