<button type="@Type" class="@CssClass" @onclick="@OnClick" title="@TooTip" style="@Style">
    <i class="@Icon"></i>
</button>
@code {
    [Inject] private IStringLocalizer<Resource> Localizer { get; set; } = default!;
    [Parameter] public string Icon { get; set; } = "fa fa-list";
    [Parameter] public string CssClass { get; set; } = "btn-mini";
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public string? TooTip { get; set; }
    [Parameter] public string Type { get; set; } = "button";
    [Parameter] public string? Style { get; set; } = "font-size: 17px;";

    protected override void OnInitialized()
    {
        TooTip ??= Localizer[nameof(Resource.ButtonDetails)];
    }
}