@page "/cargues/details/{Id:guid}"
@attribute [Authorize(Roles = "Administrator")]


<div class="container shadow-lg mb-5 p-4 rounded">
    <h3>Detalle de Transferencia</h3>

    <div class="row mb-4">
        <div class="col-md-6">
            <table class="table table-borderless">
                <tr>
                    <td><strong>Producto:</strong></td>
                    <td class="text-end">@Cargue.Product!.ProductName</td>
                </tr>
                <tr>
                    <td><strong>Fecha:</strong></td>
                    <td class="text-end">@Cargue.DateCargue.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <td><strong>Control:</strong></td>
                    <td class="text-end">@Cargue.ControlCargue</td>
                </tr>
                <tr>
                    <td><strong>Factura#:</strong></td>
                    <td class="text-end">@Cargue.Purchase!.NroFactura</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-9 d-flex gap-2">
            <a class="btn btn-secondary" style="width:150px" href="/cargues">
                <i class="bi bi-arrow-left"></i> Volver
            </a>

            @if (Cargue.Status == CargueType.Pendiente && Cargue.TotalSeriales != Cargue.CantToUp)
            {
                <button class="btn btn-dark" style="width:150px" @onclick="@(() => ShowModalAsync())">
                    <i class="bi bi-plus-square"></i> Nuevo
                </button>
            }

            @if (Cargue.Status == CargueType.Pendiente)
            {
                <button class="btn btn-success" style="width:150px" @onclick="() => CloseCargueAsync(Cargue.CargueId)">
                    <i class="bi bi-check-square"></i> Cerrar
                </button>
            }
        </div>
    </div>

    <hr class="my-4" />

    <div class="row">
        <div class="col-md-12 table-responsive">
            @if (CargueDetails is null)
            {
                <Loading />
            }
            else
            {
                <GenericList MyList="CargueDetails">
                    <Body>
                        <table class="table table-hover table-striped align-middle">
                            <thead class="table-dark">
                                <tr>
                                    <th>Mac</th>
                                    <th>Comentario</th>
                                    <th>Estatus</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in CargueDetails!)
                                {
                                    <tr>
                                        <td>@item.MacWlan</td>
                                        <td>@item.Comment</td>
                                        <td>
                                            @switch (item.Status.ToString())
                                            {
                                                case "Disponible":
                                                    <strong style="color: orangered">@item.Status</strong>
                                                    break;
                                                case "Averiado":
                                                    <strong style="color: red">@item.Status</strong>
                                                    break;
                                                case "Operativo":
                                                    <strong style="color: forestgreen">@item.Status</strong>
                                                    break;
                                            }
                                        </td>
                                        <td style="width:1px;">
                                            @if (Cargue!.Status == CargueType.Pendiente)
                                            {
                                                <button class="btn btn-outline-dark btn-sm" @onclick="() => ShowModalAsync(item.CargueDetailId, true)">
                                                    <i class="bi bi-pencil"></i>
                                                </button>
                                            }
                                        </td>
                                        <td style="width:1px;">
                                            @if (Cargue!.Status == CargueType.Pendiente)
                                            {
                                                <button class="btn btn-outline-danger btn-sm" @onclick="() => DeleteAsync(item.CargueDetailId)">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </Body>
                </GenericList>
            }
        </div>
    </div>

    <hr class="my-4" />

    @if (CargueDetails is null)
    {
        <Loading />
    }
    else
    {
        <Pagination CurrentPage="CurrentPage"
                    SelectedPage="SelectedPage"
                    TotalPages="TotalPages" />
    }
</div>

