<EditForm Model="Node" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <!-- Nombre del Nodo (fila completa) -->
    <div class="row mb-2">
        <div class="col-12">
            <div class="input-group">
                <span class="input-group-text" style="width:150px">
                    @Localizer[nameof(Resource.NodeSSID)]
                </span>
                <InputText class="form-control" @bind-value="Node.NodesName" />
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Operación + IP Network -->
        <div class="col-12 col-md-6 mb-2">
            @if (Operations is null)
            {
                <Loading />
            }
            else
            {
                <div class="input-group">
                    <span class="input-group-text" style="width:150px">Operación</span>
                    <select class="form-select" value="@Node.OperationId" @onchange="OperationChanged">
                        @foreach (var item in Operations!)
                        {
                            <option value="@item.Value">@item.Name</option>
                        }
                    </select>
                </div>
            }
        </div>

        <div class="col-12 col-md-6 mb-2">
            @if (IpNetworks is null)
            {
                <Loading />
            }
            else
            {
                <div class="input-group">
                    <span class="input-group-text" style="width:150px">IP Network</span>
                    <select class="form-select" value="@Node?.IpNetworkId" @onchange="IpNetworkChanged">
                        @foreach (var item in IpNetworks!)
                        {
                            <option value="@item.IpNetworkId">@item.Ip</option>
                        }
                    </select>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <!-- Usuario + Clave -->
        <div class="col-12 col-md-6 mb-2">
            <div class="input-group">
                <span class="input-group-text" style="width:150px">
                    @Localizer[nameof(Resource.User)]
                </span>
                <InputText class="form-control"
                           name="node_username"
                           autocomplete="new-password"
                           @bind-value="Node!.Usuario" />
            </div>
            <ValidationMessage For="@(() => Node.Usuario)" />
        </div>

        <div class="col-12 col-md-6 mb-2">
            <div class="input-group">
                <span class="input-group-text" style="width: 150px">
                    @Localizer[nameof(Resource.Clave)]
                </span>
                <InputText class="form-control"
                           name="node_clave"
                           autocomplete="new-password"
                           type="@(showClave ? "text" : "password")"
                           @bind-value="Node.Clave" />
                <button type="button" class="btn btn-outline-secondary" @onclick="TogglePasswordVisibility">
                    <i class="fa @(showClave ? "fa-eye-slash" : "fa-eye")"></i>
                </button>
            </div>
            <ValidationMessage For="@(() => Node.Clave)" />
        </div>
    </div>

    <!-- SEPARADOR -->
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>

    <div class="row">
        <!-- Marca + Modelo -->
        <div class="col-12 col-md-6 mb-2">
            @if (Marks is null)
            {
                <Loading />
            }
            else
            {
                <div class="input-group">
                    <span class="input-group-text" style="width:150px">Marca</span>
                    <select class="form-select" value="@Node.MarkId" @onchange="MarkChanged">
                        @foreach (var item in Marks!)
                        {
                            <option value="@item.MarkId">@item.MarkName</option>
                        }
                    </select>
                </div>
            }
        </div>

        <div class="col-12 col-md-6 mb-2">
            @if (MarkModels is null)
            {
                <Loading />
            }
            else
            {
                <div class="input-group">
                    <span class="input-group-text" style="width:150px">Modelo</span>
                    <select class="form-select" value="@Node!.MarkModelId" @onchange="MarkModelChanged">
                        @foreach (var item in MarkModels!)
                        {
                            <option value="@item.MarkModelId">@item.MarkModelName</option>
                        }
                    </select>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <!-- Tipo Frecuencia + Seguridad -->
        <div class="col-12 col-md-6 mb-2">
            @if (Channels is null)
            {
                <Loading />
            }
            else
            {
                <div class="input-group">
                    <span class="input-group-text" style="width:150px">Ancho Canal</span>
                    <select class="form-select" value="@Node.ChannelId" @onchange="ChannelChanged">
                        @foreach (var item in Channels!)
                        {
                            <option value="@item.Value">@item.Name</option>
                        }
                    </select>
                </div>
            }

        </div>

        <div class="col-12 col-md-6 mb-2">
            <div class="input-group">
                <span class="input-group-text" style="width:150px">
                    @Localizer[nameof(Resource.MAC)]
                </span>
                <InputText class="form-control" @bind-value="Node.Mac" />
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Ancho Canal + Frecuencia -->
        <div class="col-12 col-md-6 mb-2">
            @if (FrecuencyTypes is null)
            {
                <Loading />
            }
            else
            {
                <div class="input-group">
                    <span class="input-group-text" style="width:150px">Tipo Frecuencia</span>
                    <select class="form-select" value="@Node.FrecuencyTypeId" @onchange="FrecuencyTypeChanged">
                        @foreach (var item in FrecuencyTypes!)
                        {
                            <option value="@item.Value">@item.Name</option>
                        }
                    </select>
                </div>
            }
        </div>

        <div class="col-12 col-md-6 mb-2">
            @if (Frecuencies is null)
            {
                <Loading />
            }
            else
            {
                <div class="input-group">
                    <span class="input-group-text" style="width:150px">Frecuencia</span>
                    <select class="form-select" value="@Node.FrecuencyId" @onchange="FrecuencyChanged">
                        @foreach (var item in Frecuencies!)
                        {
                            <option value="@item.Value">@item.Name</option>
                        }
                    </select>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <!-- MAC + Frase Seguridad -->
        <div class="col-12 col-md-6 mb-2">
            @if (Securities is null)
            {
                <Loading />
            }
            else
            {
                <div class="input-group">
                    <span class="input-group-text" style="width:150px">Seguridad</span>
                    <select class="form-select" value="@Node.SecurityId" @onchange="SecurityChanged">
                        @foreach (var item in Securities!)
                        {
                            <option value="@item.Value">@item.Name</option>
                        }
                    </select>
                </div>
            }

        </div>

        <div class="col-12 col-md-6 mb-2">
            <div class="input-group">
                <span class="input-group-text" style="width:150px">
                    @Localizer[nameof(Resource.Security)]
                </span>
                <InputText class="form-control" @bind-value="Node.FraseSeguridad" />
            </div>
        </div>
    </div>

    <!-- SEPARADOR -->
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>

    <div class="row">
        <!-- Longitude -->
        <div class="col-12 col-md-6 mb-2">
            <div class="input-group">
                <span class="input-group-text" style="width:150px">
                    @Localizer[nameof(Resource.Longitude)]
                </span>
                <InputNumber class="form-control" @bind-Value="Node.Longitude" />
            </div>
            <ValidationMessage For="@(() => Node.Longitude)" />
        </div>

        <!-- Latitude -->
        <div class="col-12 col-md-6 mb-2">
            <div class="input-group">
                <span class="input-group-text" style="width:150px">
                    @Localizer[nameof(Resource.Latitude)]
                </span>
                <InputNumber class="form-control" @bind-Value="Node.Latitude" />
            </div>
            <ValidationMessage For="@(() => Node.Latitude)" />
        </div>
    </div>

    <!-- SEPARADOR -->
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>

    <div class="row">
        <!-- Estado + Zona -->
        <div class="col-12 col-md-6 mb-2">
            @if (States is null)
            {
                <Loading />
            }
            else
            {
                <div class="input-group">
                    <span class="input-group-text" style="width:150px">Estado</span>
                    <select class="form-select" value="@Node.StateId" @onchange="StateChanged">
                        @foreach (var item in States!)
                        {
                            <option value="@item.StateId">@item.Name</option>
                        }
                    </select>
                </div>
            }
        </div>

        <div class="col-12 col-md-6 mb-2">
            @if (Cities is null)
            {
                <Loading />
            }
            else
            {
                <div class="input-group">
                    <span class="input-group-text" style="width:150px">Ciudad</span>
                    <select class="form-select" value="@Node?.CityId" @onchange="CityChanged">
                        @foreach (var item in Cities!)
                        {
                            <option value="@item.CityId">@item.Name</option>
                        }
                    </select>
                </div>
            }

        </div>
    </div>

    <div class="row">
        <!-- Ciudad + Activo -->
        <div class="col-12 col-md-6 mb-2">
                        @if (Zones is null)
            {
                <Loading />
            }
            else
            {
                <div class="input-group">
                    <span class="input-group-text" style="width:150px">Zona</span>
                    <select class="form-select" value="@Node.ZoneId" @onchange="ZoneChanged">
                        @foreach (var item in Zones!)
                        {
                            <option value="@item.ZoneId">@item.ZoneName</option>
                        }
                    </select>
                </div>
            }
        </div>

        <div class="col-12 col-md-6 mb-2">
            <div class="input-group">
                <span class="input-group-text" style="width:150px">
                    @Localizer[nameof(Resource.Active)]
                </span>
                <div class="d-flex align-items-center ps-3">
                    <InputCheckbox @bind-Value="Node!.Active" class="form-check-input me-2" />
                </div>
            </div>
        </div>
    </div>

    <!-- BOTONES -->
    <div class="mb-4 d-flex justify-content-center gap-2 mt-2">
        <ButtonFormSave IsSaving="IsSaving" />
        <ButtonFormBack OnClick="ReturnAction" />
    </div>

</EditForm>