<EditForm Model="Purchase" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <!-- Fecha de Registro -->
    <div class="mb-4">
        <label class="form-label">Registro</label>
        <InputDate class="form-control"
                   @bind-Value="Purchase.PurchaseDate"
                   min="@DateMin"
                   @onchange="DatePurchaseChanged" />
        <ValidationMessage For="@(() => Purchase.PurchaseDate)" />
    </div>

    <!-- Proveedores -->
    @if (Suppliers is null)
    {
        <Loading />
    }
    else
    {
        <div class="mb-5">
            <label class="form-label">Proveedores</label>
            <InputSelect class="form-select"
                         @bind-Value="SelectedSupplier"
                         @onchange="SuplierChanged">
                <option value="">Seleccione...</option>
                @foreach (var item in Suppliers!)
                {
                    <option value="@item">@item.Name</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => Purchase.Supplier)" />
        </div>
    }

    <!-- Bodega -->
    @if (ProductStorages is null)
    {
        <Loading />
    }
    else
    {
        <div class="mb-5">
            <label class="form-label">Bodega</label>
            <InputSelect class="form-select"
                         @bind-Value="SelectedProductStorage"
                         @onchange="ProductStorageChanged">
                <option value="">Seleccione...</option>
                @foreach (var item in ProductStorages!)
                {
                    <option value="@item">@item.StorageName</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => Purchase.ProductStorage)" />
        </div>
    }

    <!-- Fecha Factura -->
    <div class="mb-4">
        <label class="form-label">Fecha Factura</label>
        <InputDate class="form-control"
                   @bind-Value="Purchase.FacuraDate"
                   min="@DateMin"
                   @onchange="DateFacturaChanged" />
        <ValidationMessage For="@(() => Purchase.FacuraDate)" />
    </div>

    <!-- Número de Factura -->
    <div class="mb-4">
        <label class="form-label">@GetDisplayName(() => Purchase.NroFactura)</label>
        <InputText class="form-control" @bind-Value="Purchase.NroFactura" />
        <ValidationMessage For="@(() => Purchase.NroFactura)" />
    </div>

    <!-- Botones -->
    <div class="mb-4 d-flex justify-content-center gap-2 mt-2">
        <ButtonFormBack OnClick="ReturnAction" />
        <ButtonFormSave />
    </div>
</EditForm>