<EditForm Model="PurchaseDetail" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <div class="mb-2">
        @if (Categories is null)
        {
            <Loading />
        }
        else
        {
            <div class="input-group">
                <span class="input-group-text" style="width: 150px">@Localizer[nameof(Resource.Category)]</span>
                <select class="form-select" value="@PurchaseDetail.Product!.ProductCategoryId.ToString()" @onchange="CategoryChanged">
                    @foreach (var item in Categories!)
                    {
                        <option value="@item.ProductCategoryId">@item.Name</option>
                    }
                </select>
            </div>
        }
    </div>

    <div class="mb-2">
        @if (Products is null)
        {
            <Loading />
        }
        else
        {
            <div class="input-group">
                <span class="input-group-text" style="width: 150px">@Localizer[nameof(Resource.Product)]</span>
                <select class="form-select" value="@PurchaseDetail.ProductId.ToString()" @onchange="CategoryChanged">
                    @foreach (var item in Products!)
                    {
                        <option value="@item.ProductId">@item.ProductName</option>
                    }
                </select>
            </div>
        }
    </div>




    <!-- Impuesto -->
    <div class="col-12 mb-4">
        <div class="input-group">
            <span class="input-group-text" style="width: 100px">
                @Localizer[nameof(Resource.Rate)]
            </span>
            <InputNumber class="form-control" @bind-Value="PurchaseDetail.RateTax" readonly="true" />
        </div>
        <ValidationMessage For="@(() => PurchaseDetail.RateTax)" />
    </div>

    <!-- Costo Unitario -->
    <div class="col-12 mb-4">
        <div class="input-group">
            <span class="input-group-text" style="width: 100px">
                @Localizer[nameof(Resource.UnitCost)]
            </span>
            <InputNumber class="form-control" @bind-Value="PurchaseDetail.UnitCost" @oninput="@(e => CalculoTotalUnit(decimal.Parse(e.Value?.ToString() ?? "0")))" />
        </div>
        <ValidationMessage For="@(() => PurchaseDetail.UnitCost)" />
    </div>

    <!-- Cantidad -->
    <div class="col-12 mb-4">
        <div class="input-group">
            <span class="input-group-text" style="width: 100px">
                @Localizer[nameof(Resource.Quantity)]
            </span>
            <InputNumber class="form-control" @bind-Value="PurchaseDetail.Quantity" @oninput="@(e => CalculoTotalCant(decimal.Parse(e.Value?.ToString() ?? "0")))" />
        </div>
        <ValidationMessage For="@(() => PurchaseDetail.Quantity)" />
    </div>

    <!-- Subtotal -->
    <div class="col-12 mb-4">
        <div class="input-group">
            <span class="input-group-text" style="width: 100px">
                @Localizer[nameof(Resource.Subtotal)]
            </span>
            <InputNumber class="form-control" @bind-Value="Total" readonly="true" />
        </div>
        <ValidationMessage For="@(() => Total)" />
    </div>

    <!-- Botones -->
    <div class="mb-4 d-flex justify-content-center gap-2 mt-2">
        <ButtonFormSave IsSaving="IsSaving" />
        <ButtonFormBack OnClick="ReturnAction" />
    </div>
</EditForm>