<EditForm Model="Purchase" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <div class="mb-2">
        <GenericSelectWrapper Items="Suppliers">
            <Body>
                <div class="input-group">
                    <span class="input-group-text" style="width: 150px">@Localizer[nameof(Resource.Provider)]</span>
                    <select class="form-select" value="@Purchase.SupplierId" @onchange="SuplierChanged">
                        @foreach (var item in Suppliers!)
                        {
                            <option value="@item.SupplierId">@item.Name</option>
                        }
                    </select>
                    <ValidationMessage For="@(() => Purchase.Supplier)" />
                </div>
            </Body>
        </GenericSelectWrapper>
    </div>

   
    <div class="mb-2">
        <GenericSelectWrapper Items="ProductStorages">
            <Body>
                <div class="input-group">
                    <span class="input-group-text" style="width: 150px">@Localizer[nameof(Resource.Storage)]</span>
                    <select class="form-select" value="@Purchase.ProductStorageId" @onchange="ProductStorageChanged">
                        @foreach (var item in ProductStorages!)
                        {
                            <option value="@item.ProductStorageId">@item.StorageName</option>
                        }
                    </select>
                    <ValidationMessage For="@(() => Purchase.ProductStorage)" />
                </div>
            </Body>
        </GenericSelectWrapper>
    </div>

    <!-- Fecha Factura -->
    <div class="mb-2">
        <div class="input-group">

            <span class="input-group-text" style="width: 150px">@Localizer[nameof(Resource.Date)]</span>
            <input type="date" class="form-control"
                   @bind="Purchase.FacuraDate"
                   @bind:format="yyyy-MM-dd"
                   min="@DateMin?.ToString("yyyy-MM-dd")" />
        </div>
        <ValidationMessage For="@(() => Purchase.FacuraDate)" />
    </div>

    <!-- Número de Factura -->
    <div class="mb-2">
        <div class="input-group">
            <span class="input-group-text" style="width: 150px">
                @Localizer[nameof(Resource.Purchase)]#
            </span>
            <InputText class="form-control" @bind-Value="Purchase.NroFactura" />
        </div>
        <ValidationMessage For="@(() => Purchase.NroFactura)" />
    </div>

    <!-- Botones -->
    <div class="mb-4 d-flex justify-content-center gap-2 mt-2">
        <ButtonFormBack OnClick="ReturnAction" />
        <ButtonFormSave />
    </div>
</EditForm>