<EditForm Model="PurchaseDetail" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <!-- Categoría -->
    @if (Categories is null)
    {
        <Loading />
    }
    else
    {
        <div class="mb-5">
            <label class="form-label">Categoría</label>
            <InputSelect class="form-select"
                         @bind-Value="SelectedCategory"
                         @onchange="CategoryChanged">
                <option value="">Seleccione...</option>
                @foreach (var item in Categories!)
                {
                    <option value="@item">@item.Name</option>
                }
            </InputSelect>
        </div>
    }

    <!-- Producto -->
    @if (Products is null)
    {
        <Loading />
    }
    else
    {
        <div class="mb-5">
            <label class="form-label">Producto</label>
            <InputSelect class="form-select"
                         @bind-Value="SelectedProduct"
                         @onchange="ProductsChanged">
                <option value="">Seleccione...</option>
                @foreach (var item in Products!)
                {
                    <option value="@item">@item.ProductName</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => PurchaseDetail.Product)" />
        </div>
    }

    <!-- Impuesto -->
    <div class="mb-4">
        <label class="form-label">@GetDisplayName(() => PurchaseDetail.RateTax)</label>
        <InputNumber class="form-control"
                     @bind-Value="PurchaseDetail.RateTax"
                     readonly />
        <ValidationMessage For="@(() => PurchaseDetail.RateTax)" />
    </div>

    <!-- Costo Unitario -->
    <div class="mb-4">
        <label class="form-label">@GetDisplayName(() => PurchaseDetail.UnitCost)</label>
        <InputNumber class="form-control"
                     @bind-Value="PurchaseDetail.UnitCost"
                     @oninput="@(e => CalculoTotalUnit(decimal.Parse(e.Value?.ToString() ?? "0")))" />
        <ValidationMessage For="@(() => PurchaseDetail.UnitCost)" />
    </div>

    <!-- Cantidad -->
    <div class="mb-4">
        <label class="form-label">@GetDisplayName(() => PurchaseDetail.Quantity)</label>
        <InputNumber class="form-control"
                     @bind-Value="PurchaseDetail.Quantity"
                     @oninput="@(e => CalculoTotalCant(decimal.Parse(e.Value?.ToString() ?? "0")))" />
        <ValidationMessage For="@(() => PurchaseDetail.Quantity)" />
    </div>

    <!-- Subtotal -->
    <div class="mb-4">
        <label class="form-label">@GetDisplayName(() => PurchaseDetail.SubTotal)</label>
        <InputNumber class="form-control" @bind-Value="Total" readonly="true" />
        <ValidationMessage For="@(() => Total)" />
    </div>

    <!-- Botones -->
    <div class="mb-4 d-flex justify-content-center gap-2 mt-2">
        <ButtonFormBack OnClick="ReturnAction" />
        <ButtonFormSave />
    </div>
</EditForm>