@page "/productstorages"
@attribute [Authorize(Roles = "Administrator")]


@if (ProductStorages is null)
{
    <FullScreenSpinner IsVisible=true />
}
else
{
    <div class="container pt-4">
        <div class="card shadow-lg p-4 mb-5" style="border-radius: 12px;">
            <h3 class="mb-4">@Localizer[nameof(Resource.Storage)]</h3>

            <div class="row align-items-center mb-3">
                <!-- Columna para el botón -->
                <div class="col-md-3 d-flex justify-content-start">
                    <button class="btn btn-gradient-primary d-flex align-items-center gap-2" style="width:130px" @onclick="() => ShowModalAsync()">
                        <i class="bi bi-plus-circle"></i> @Localizer[nameof(Resource.New)]
                    </button>
                </div>

                <!-- Columna para el filtro -->
                <div class="col-md-9 d-flex justify-content-end">
                    <FilterComponent ApplyFilter="SetFilterValue" />
                </div>
            </div>

            <hr class="my-4" />

            <div class="row">
                <div class="col-md-12 table-responsive">
                    <GenericList MyList="ProductStorages">
                        <Body>
                            <table class="table table-hover table-striped align-middle">
                                <thead class="table-dark">
                                    <tr>
                                        <th>@Localizer[nameof(Resource.Name)]</th>
                                        <th>@Localizer[nameof(Resource.State)]</th>
                                        <th>@Localizer[nameof(Resource.City)]</th>
                                        <th>@Localizer[nameof(Resource.Active)]</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ProductStorages!)
                                    {
                                        <tr>
                                            <td>@item.StorageName</td>
                                            <td>@item.State!.Name</td>
                                            <td>@item.City!.Name</td>
                                            <td>
                                                <input type="checkbox" class="form-check-input" checked="@item.Active" disabled />
                                            </td>
                                            <td style="width:1px;">
                                                <ButtonEdit OnClick="() => ShowModalAsync(item.ProductStorageId, true)" />
                                            </td>
                                            <td style="width:1px;">
                                                <ButtonDelete OnClick="() => DeleteAsync(item.ProductStorageId)" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </Body>
                    </GenericList>
                </div>
            </div>

            <hr class="my-4" />

            <Pagination CurrentPage="CurrentPage"
                        SelectedPage="SelectedPage"
                        TotalPages="TotalPages" />
        </div>
    </div>
}
