@page "/detailscontractcontrol/{Id:guid}"
@layout MainLayout
@attribute [Authorize(Roles = "Administrator")]

<div class="container pt-4">
    <div class="card shadow-lg p-4 mb-5" style="border-radius: 12px;">

        <!-- Card del Contrato -->
        <div class="row mt-2">
            <div class="col-12">
                <div class="card shadow-lg p-4" style="border-radius: 12px;">
                    @if (ContractClient is null)
                    {
                        <Loading />
                    }
                    else
                    {
                        <div class="row align-items-center ">

                            <!-- Título -->
                            <div class="col-md-6 mb-3">
                                <h2>Detalle Contrato</h2>
                            </div>

                            <!-- Botones alineados a la izquierda ocupando todo el ancho -->
                            <div class="col-md-6 mb-3">
                                <div class="d-flex justify-content-end gap-3">
                                    <AnchorFormBack Href="/contractcontrol" CssClass="btn btn-outline-dark btn-bor" />
                                    <ButtonFormNew Icon="fa fa-pencil-square" CssClass="btn btn-outline-primary btn-bor"
                                                   OnClick="() => ShowEditContractClient(ContractClient!.ContractClientId)" TooTip="@Localizer[nameof(Resource.Edit)]" />
                                    @*                                 <a title="Editar" asp-action="Edit" class="btn btn-outline-primary btn-bor">
                                    <i class="fa fa-pencil-square" style="font-size: 20px;"></i>
                                    Editar
                                </a> *@
                                    <button type="button" title="Retirar" class="btn btn-danger btn-bor btn-bor">
                                        <i class="fa fa-cloud-arrow-down" style="font-size: 20px;"></i>
                                        Retirar
                                    </button>
                                </div>
                            </div>

                            <hr style="height:2px;border:none;color:#333;background-color:#333;" />

                            <div class="row mb-2">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-text" style="width: 100px">@Localizer[nameof(Resource.Created)]</span>
                                        <text class="form-control">@ContractClient!.DateCreado</text>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-text" style="width: 100px">@Localizer[nameof(Resource.Contract)]</span>
                                        <text class="form-control" style="font-weight:bold">@ContractClient!.ControlContrato</text>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-text" style="width: 100px">@Localizer[nameof(Resource.Contractor)]</span>
                                        <text class="form-control">@ContractClient!.Contractor!.FirstName @ContractClient!.Contractor.LastName</text>
                                    </div>
                                </div>
                            </div>

                            <hr style="height:2px;border:none;color:#333;background-color:#333;" />

                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-text" style="width: 100px">@Localizer[nameof(Resource.Client)]</span>
                                        <text class="form-control">@ContractClient.Client!.FirstName @ContractClient.Client.LastName</text>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-text" style="width: 100px">@Localizer[nameof(Resource.Document)]</span>
                                        <text class="form-control flex-fill">@ContractClient.Client.DocumentType!.DocumentName</text>
                                        <text class="form-control flex-fill">@ContractClient.Client.Document</text>
                                    </div>

                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-text" style="width: 100px">@Localizer[nameof(Resource.Phone)]</span>
                                        <text class="form-control">@ContractClient.PhoneNumber</text>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-text" style="width: 100px">@Localizer[nameof(Resource.Email)]</span>
                                        <text class="form-control">@ContractClient.Client.Email</text>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-text" style="width: 100px">@Localizer[nameof(Resource.Address)]</span>
                                        <text class="form-control">@ContractClient.Address</text>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-text" style="width: 100px">@Localizer[nameof(Resource.City)]</span>
                                        <text class="form-control">@ContractClient.Zone!.City!.Name</text>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-text" style="width: 100px">@Localizer[nameof(Resource.Zone)]</span>
                                        <text class="form-control">@ContractClient.Zone.ZoneName</text>
                                    </div>
                                </div>
                            </div>

                            <hr style="height:2px;border:none;color:#333;background-color:#333;" />

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-control input-group" style="text-align:center; align-items:center">
                                        <div class="form-check form-switch" style="pointer-events: none;">
                                            <input class="form-check-input" type="checkbox" role="switch" checked="@ContractClient.EquipoEmpres">
                                            <label class="form-check-label" style="color: forestgreen; font-weight: bold; font-size:14px">
                                                Equipo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-control input-group" style="text-align:center; align-items:center">
                                        <div class="form-check form-switch" style="pointer-events: none;">
                                            <input class="form-check-input" type="checkbox" role="switch" checked="@ContractClient.EnvoiceClient">
                                            <label class="form-check-label" style="color: forestgreen; font-weight: bold; font-size:14px">
                                                Invoice
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="text-align:center">
                                    @switch (ContractClient!.ContractState.ToString())
                                    {
                                        case "Exempt":
                                            <strong><text class="form-control" style="color : darkorange; font-weight: bold">@ContractClient.ContractState</text></strong>

                                            break;

                                        case "Active":
                                            <h5>
                                                <strong><text class="form-control" style="color : darkgreen; font-weight: bold; background-color:whitesmoke; font-size:20px">@ContractClient.ContractState</text></strong>
                                            </h5>
                                            break;

                                        case "Suspended":
                                            <h5>
                                                <strong><text class="form-control" style="color : red; font-weight: bold">@ContractClient.ContractState</text></strong>
                                            </h5>
                                            break;
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
        <div class="row mt-2">
            <!-- IP Cliente -->
            <div class="col-md-4">
                <div class="card shadow-lg p-4" style="border-radius: 12px;">
                    <div class="card-header bg-transparent border-dark  text-dark">
                        <div class="row">
                            <div class="col-md-12" style="text-align:left; align-content:center; justify-content: center">
                                <div style="margin-left:5px">
                                    <i class="fa fa-ethernet" style="color:#27A844; font-size: 20px"></i>
                                    <strong>IP Cliente</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-borderless table-sm mt-3" id="MyTable">
                        <tbody id="reordenable">
                            @if (ContractIp is null || ContractIp!.ContractIpId == Guid.Empty)
                            {
                                <tr>
                                    <td>
                                        <h5 class="m-0">Sin IP Asignada...</h5>
                                    </td>
                                    <td>
                                        <ButtonGeneric OnClick="() => ShowContractIpsAsyn(ContractClient!.ContractClientId)"
                                                       TooTip="@Localizer[nameof(Resource.Create_IDPics)]"
                                                       Icon="fa fa-plus" />
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        @ContractIp.IpNet!.Ip
                                    </td>

                                    <td style="width:1px; padding-left:1px; padding-right:4px">
                                        <ButtonDelete OnClick="() => DeleteContractIpAsync(ContractIp!.ContractIpId)"
                                                      TooTip="@Localizer[nameof(Resource.Create_IDPics)]"
                                                      Icon="fa fa-trash" />
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>        
                </div>
            </div>
            <!-- Mac Client -->
            <div class="col-md-4">
                <div class="card shadow-lg p-4" style="border-radius: 12px;">
                    <div class="card-header bg-transparent border-dark  text-dark">
                        <div class="row">
                            <div class="col-md-12" style="text-align:left; align-content:center; justify-content: center">
                                <div style="margin-left:5px">
                                    <i class="fa fa-gears" style=" color:#27A844; font-size: 20px"></i>
                                    <strong>Mac Equipo</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-borderless table-sm mt-3" id="MyTable">
                        <tbody id="reordenable">
                            @if (ContractMac is null || ContractMac!.ContractMacId == Guid.Empty)
                            {
                                <tr>
                                    <td>
                                        <h5 class="m-0">Sin MAC Asignada...</h5>
                                    </td>
                                    <td>
                                        <ButtonGeneric OnClick="() => ShowContractMacsAsyn(ContractClient!.ContractClientId)"
                                                       TooTip="@Localizer[nameof(Resource.Create_Mac)]"
                                                       Icon="fa fa-plus" />
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        @ContractMac.CargueDetail!.MacWlan
                                    </td>

                                    <td style="width:1px; padding-left:1px; padding-right:4px">
                                        <ButtonDelete OnClick="() => DeleteContractMacAsync(ContractMac!.ContractMacId)"
                                                      TooTip="@Localizer[nameof(Resource.Create_Mac)]"
                                                      Icon="fa fa-trash" />
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Server Client -->
            <div class="col-md-4">
                <div class="card shadow-lg p-4" style="border-radius: 12px;">

                    <div class="card-header bg-transparent border-dark  text-dark">
                        <div class="row">
                            <div class="col-md-12" style="text-align:left; align-content:center; justify-content: center">
                                <div style="margin-left:5px">
                                    <i class="fa fa-server" style=" color:#27A844; font-size: 20px"></i>
                                    <strong>Servidor Gateway</strong>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body text-dark">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>