@page "/sells"
@layout MainLayout
@attribute [Authorize(Roles = "Administrator")]

@using Spix.Domain.EntitiesBilling

<div class="container pt-4">
    <div class="card shadow-lg p-4 mb-5" style="border-radius: 12px;">
        <h3>Facturas</h3>

        <div class="row align-items-center mb-3">
            <div class="col-md-12 d-flex justify-content-end">
                <FilterComponent ApplyFilter="SetFilterValue" />
            </div>
        </div>

        <hr />
        <GenericList MyList="Sells">
            <Body>
                <div class="table-responsive">
                    <table class="table table-hover table-striped align-middle">
                        <thead class="table-dark">
                            <tr>
                                <th>Factura</th>
                                <th>Fecha</th>
                                <th>Cliente</th>
                                <th>Contrato</th>
                                <th class="text-end">SubTotal</th>
                                <th class="text-end">Tax</th>
                                <th class="text-end">Total</th>
                                <th>Pagada</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Sells!)
                            {
                                <tr>
                                    <td>@item.InvoiceNumber</td>
                                    <td>@item.DateSell.ToString("dd/MM/yyyy")</td>
                                    <td>@item.ClientFullName</td>
                                    <td>@item.ControlContrato</td>
                                    <td class="text-end">@item.SubTotal.ToString("N2")</td>
                                    <td class="text-end">@item.TotalTax.ToString("N2")</td>
                                    <td class="text-end">@item.Total.ToString("N2")</td>
                                    <td>@(item.Paid ? "Si" : "No")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </Body>
        </GenericList>
        <hr />
        <Pagination CurrentPage="CurrentPage"
                    SelectedPage="SelectedPage"
                    TotalPages="TotalPages" />
    </div>
</div>
