@inherits LayoutComponentBase

<AuthorizeView>
    <IdleLogout />
</AuthorizeView>

<div class="page">
    <div class="@SidebarCssClass">
        <button type="button" class="sidebar-toggle" title="@SidebarToggleTitle" @onclick="ToggleSidebar">
            <i class="fa @SidebarToggleIcon"></i>
        </button>

        @if (!isSidebarCollapsed)
        {
            <NavMenu />
        }
        else
        {
            <a class="sidebar-collapsed-logo" href="/dashboard">
                <img src="https://spiximage.blob.core.windows.net/imgwwwroot/LogoNexxtplanet.png?v=20260708-2" alt="NexxtPlanet" />
            </a>
        }
    </div>

    <main>
        <div class="top-row px-4">
            <div class="setting-dropdown" @onmouseover="ShowMenu" @onmouseleave="HideMenu">
                <button class="btn btn-link p-0" style="text-decoration: none;">
                    Setting
                    <i class="fa fa-cog"></i> <!-- Ícono de configuración -->
                </button>

                @if (isMenuVisible)
                {
                    <div class="dropdown-menu show shadow border bg-white settings-dropdown-menu">
                        <AuthLinks />
                    </div>
                }
            </div>

            <a href="https://optimususa.net" target="_blank">About</a>
        </div>

        <article class="main-content px-4">
            @Body
            @if (modalType != null)
            {
                <DynamicComponent Type="@modalType" Parameters="@modalParameters" />
            }
        </article>
    </main>
</div>
