<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <p>Autorizando...</p>
                </Authorizing>
                <NotAuthorized>
                    <p>No se encuentra autorizado...</p>
                </NotAuthorized>
            </AuthorizeRouteView>

            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Recurso no Encontrado</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">No hay ningún recurso en esta ruta...</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
