<EditForm Model="Technician" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="row mb-2">
            <div class="col-md-6">
                <InputImageGeneral ImageSelected="ImageSelected" ImageUrl="@ImageUrl" />
            </div>
            <div class="col-md-6">
                <div class="mb-2">
                    <div class="input-group">
                        <span class="input-group-text" style="width: 150px">
                            @Localizer[nameof(Resource.FirstName)]
                        </span>
                        <InputText class="form-control" placeholder="" @bind-Value="Technician.FirstName" />
                    </div>
                    <ValidationMessage For="@(() => Technician.FirstName)" />
                </div>
                <div class="mb-2">
                    <div class="input-group">
                        <span class="input-group-text" style="width: 150px">
                            @Localizer[nameof(Resource.LastName)]
                        </span>
                        <InputText class="form-control" placeholder="" @bind-Value="Technician.LastName" />
                    </div>
                    <ValidationMessage For="@(() => Technician.LastName)" />
                </div>
                <div class="mb-2">
                    @if (DocumentTypes is null)
                    {
                        <Loading />
                    }
                    else
                    {
                        <div class="input-group">
                            <span class="input-group-text" style="width:150px">Tipo Documento</span>
                            <select class="form-select" value="@Technician.DocumentTypeId" @onchange="DocuementTypeChanged">
                                @foreach (var item in DocumentTypes!)
                                {
                                    <option value="@item.DocumentTypeId">@item.DocumentName</option>
                                }
                            </select>
                        </div>
                    }
                </div>
                <div class="mb-2">
                    <div class="input-group">
                        <span class="input-group-text" style="width: 150px">
                            @Localizer[nameof(Resource.NroDocuement)]
                        </span>
                        <InputText class="form-control" placeholder="" @bind-Value="Technician.Document" />
                    </div>
                    <ValidationMessage For="@(() => Technician.Document)" />
                </div>
                <div class="mb-2">
                    <div class="input-group">
                        <span class="input-group-text" style="width: 150px">
                            @Localizer[nameof(Resource.Phone)]
                        </span>
                        <InputText class="form-control" placeholder="" @bind-Value="Technician.PhoneNumber" />
                    </div>
                    <ValidationMessage For="@(() => Technician.PhoneNumber)" />
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="input-group">
                <span class="input-group-text" style="width: 150px">
                    @Localizer[nameof(Resource.Address)]
                </span>
                <InputTextArea class="form-control" placeholder="" @bind-Value="Technician.Address" />
            </div>
            <ValidationMessage For="@(() => Technician.Address)" />
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text" style="width: 150px">
                        @Localizer[nameof(Resource.Email)]
                    </span>
                    <InputText class="form-control" placeholder="" @bind-Value="Technician.Email" />
                </div>
                <ValidationMessage For="@(() => Technician.Email)" />
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text" style="width: 150px">
                        @Localizer[nameof(Resource.UserName)]
                    </span>
                    <InputText class="form-control" placeholder="" @bind-Value="Technician.UserName" />
                </div>
                <ValidationMessage For="@(() => Technician.UserName)" />
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <span class="input-group-text" style="width: 150px">
                        @Localizer[nameof(Resource.Active)]
                    </span>

                    <div class="form-check form-switch ms-3">
                        <InputCheckbox @bind-Value="Technician.Active" class="form-check-input" />
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="d-flex align-items-center">
                </div>
            </div>
        </div>
    </div>



    <!-- Botones -->
    <div class="d-flex justify-content-center gap-3 mt-5">
        <ButtonFormSave IsSaving="IsSaving" />
        <ButtonFormBack OnClick="ReturnAction" />
    </div>

</EditForm>
