<div class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4" style="border-radius: 12px; max-width: 500px;">
            <EditForm Model="changePasswordDTO" OnValidSubmit="ChangePasswordAsync">
                <DataAnnotationsValidator />

                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text" style="width: 150px">
                            @Localizer[nameof(Resource.PasswordCurrent)]
                        </span>
                        <InputText type="@CurrentPasswordInputType" class="form-control" @bind-Value="changePasswordDTO.CurrentPassword" />
                        <button type="button" class="btn btn-outline-secondary" @onclick="ToggleCurrentPassword">
                            <i class="fa @(showCurrentPassword ? "fa-eye-slash" : "fa-eye")"></i>
                        </button>
                    </div>
                    <ValidationMessage For="@(() => changePasswordDTO.CurrentPassword)" />
                </div>

                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text" style="width: 150px">
                            @Localizer[nameof(Resource.PasswordNew)]
                        </span>
                        <input type="@NewPasswordInputType" class="form-control" value="@changePasswordDTO.NewPassword" @oninput="NewPasswordChanged" />
                        <button type="button" class="btn btn-outline-secondary" @onclick="ToggleNewPassword">
                            <i class="fa @(showNewPassword ? "fa-eye-slash" : "fa-eye")"></i>
                        </button>
                    </div>
                    <ValidationMessage For="@(() => changePasswordDTO.NewPassword)" />
                </div>

                <div class="mb-4">
                    <div class="input-group">
                        <span class="input-group-text" style="width: 150px">
                            @Localizer[nameof(Resource.PasswordConfirm)]
                        </span>
                        <input type="@ConfirmPasswordInputType" class="form-control" value="@changePasswordDTO.Confirm" @oninput="ConfirmPasswordChanged" />
                        <button type="button" class="btn btn-outline-secondary" @onclick="ToggleConfirmPassword">
                            <i class="fa @(showConfirmPassword ? "fa-eye-slash" : "fa-eye")"></i>
                        </button>
                    </div>
                    @if (ShowPasswordMatch)
                    {
                        <div class="form-text @(PasswordsMatch ? "text-success" : "text-danger")">
                            <i class="fa @(PasswordsMatch ? "fa-check-circle" : "fa-times-circle") me-1"></i>
                            @(PasswordsMatch ? "Las claves coinciden" : "Las claves no coinciden")
                        </div>
                    }
                    <ValidationMessage For="@(() => changePasswordDTO.Confirm)" />
                </div>


                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn btn-gradient-primary" style="width: 48%;">
                        <i class="fa fa-save me-2"></i> @Localizer[nameof(Resource.ButtonSave)]
                    </button>
                    <button type="button" class="btn btn-gradient-black" @onclick="ReturnAction" style="width: 48%;">
                        <i class="fa fa-arrow-left me-2"></i> @Localizer[nameof(Resource.ButtonCancel)]
                    </button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

