<div class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4" style="border-radius: 12px; max-width: 500px;">
            <EditForm Model="RecoveryPassDTO" OnValidSubmit="SendRecoverPasswordEmailTokenAsync">
                <DataAnnotationsValidator />

                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text" style="width: 150px">
                            @Localizer[nameof(Resource.Email)]
                        </span>
                        <InputText class="form-control" @bind-Value="RecoveryPassDTO.Email" />
                    </div>
                    <ValidationMessage For="@(() => RecoveryPassDTO.Email)" />
                </div>

                <div class="mb-4">
                    <div class="input-group">
                        <span class="input-group-text" style="width: 150px">
                            @Localizer[nameof(Resource.UserName)]
                        </span>
                        <InputText class="form-control" @bind-Value="RecoveryPassDTO.UserName" />
                    </div>
                    <ValidationMessage For="@(() => RecoveryPassDTO.UserName)" />
                </div>

                <!-- Botones -->
                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn btn-gradient-primary d-flex align-items-center gap-2" style="width: 48%;">
                        <i class="fa fa-paper-plane"></i> @Localizer[nameof(Resource.ButtonSend)]
                    </button>
                    <button type="button" class="btn btn-gradient-black d-flex align-items-center gap-2" @onclick="CloseModal" style="width: 48%;">
                        <i class="fa fa-arrow-left"></i> @Localizer[nameof(Resource.ButtonCancel)]
                    </button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

