<EditForm Model="IpNetwork" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <!-- Nombre de zona -->
    <div class="row">
        <div class="col-md-12 mb-2">
            <div class="input-group">
                <span class="input-group-text" style="width: 150px">
                    @Localizer[nameof(Resource.IPAddress)]
                </span>
                <InputText class="form-control" @bind-Value="IpNetwork.Ip" />
            </div>
            <ValidationMessage For="@(() => IpNetwork.Ip)" />
        </div>
        <div class="col-md-12 mb-2">
            <div class="input-group">
                <span class="input-group-text" style="width: 150px">
                    @Localizer[nameof(Resource.Description)]
                </span>
                <InputText class="form-control" @bind-Value="IpNetwork.Description" />
            </div>
            <ValidationMessage For="@(() => IpNetwork.Description)" />
        </div>
    </div>
    <!-- Activo -->
    <div class="row mb-2">

        <div class="col-md-4">
            <span class="input-group-text" style="width: 140px">
                @Localizer[nameof(Resource.Active)]
                <div class="d-flex align-items-center ps-4">
                    <InputCheckbox @bind-Value="IpNetwork.Active" class="form-check-input" />
                </div>
            </span>
        </div>
        <div class="col-md-4">
            <span class="input-group-text" style="width: 140px">
                @Localizer[nameof(Resource.Assigned)]
                <div class="d-flex align-items-center ps-4">
                    <InputCheckbox @bind-Value="IpNetwork.Assigned" class="form-check-input" />
                </div>
            </span>
        </div>
        <div class="col-md-4">
       
            <span class="input-group-text" style="width: 140px">
                @Localizer[nameof(Resource.Excluded)]
                <div class="d-flex align-items-center ps-4">
                    <InputCheckbox @bind-Value="IpNetwork.Excluded" class="form-check-input" />
                </div>
            </span>
        </div>
    </div>

    <!-- Botones -->
    <div class="d-flex justify-content-center gap-3 mt-5">
        <ButtonFormSave IsSaving="IsSaving" />
        <ButtonFormBack OnClick="ReturnAction" />
    </div>
</EditForm>